.card{
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.card-body{
    height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-text{
    display: block;
  display: -webkit-box;
  max-width: 100%;
  line-height: 1;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* button */
/* Remove */
.btn-danger:hover {
    cursor: pointer;
}